:root {
  --color-p: #87428E;
  --color-y: #FFD700;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
}

header {
  width: 100vw;
  height: 80px;
  padding: 10px;
  background-color: white;
  color: var(--color-p);
}

.header_logo {
  width: 151px;
}

.header_logo a {
  text-decoration: none;
  font-size: 40px;
  text-align: right;
  line-height: 80%;
}

.header_logo span {
  color: var(--color-y);
}

.header_container {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.header_menu {
  display: flex;
}

.header_menu_item {
  border: transparent solid 1.5px;
  border-radius: 30px;
  padding: 1rem;
  pointer-events: visible;
}

.header_menu_item:hover {
  border-bottom: #87428E solid 1.5px;
  border-radius: 30px;
}

.link_active {
  border-bottom: #87428E solid 1.5px;
  border-radius: 30px;
}

.header_menu_link {
  padding: 1rem ;
  text-decoration: none;
  color: var(--color-p);
  font-weight: 400;
}


